@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* head style start */
header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: red;
    justify-content: space-between;
}

header:hover {
    background-color: green;

}

.head_box {
    display: flex;
    align-items: center;
}

header .head_box img {
    height: 180px;
    width: 200px;
    margin-left: 0px;


}

.head_box a {
    text-decoration: none;

}

.head_box p {
    font-size: 30px;
    color: white;
    margin-left: 20px;
    text-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);

}

.head_box p:hover {
    color: red;
    text-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    /* margin-left: 5px; */
    font-size: 18px;
    color: white;
    /* margin: 10px; */
    padding: 7px 20px;
    border-radius: 7px;

}

nav ul li a:hover {
    background-color: red;
    color: green;

}


/* head style end */
/* all districr start */
.all_district {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.all_district a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    padding: 15px 20px;
    background-color: red;
    color: green;
    border-radius: 5px;

}

.all_district a:hover {
    padding: 15px 20px;
    background-color: green;
    color: red;
    border-radius: 5px;


}


/* all districr end */
/* devision start*/
.devision {
    background-color: antiquewhite;
}

.devision img {

    height: 300px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;



}

.img_ga {
    display: flex;
    justify-content: space-evenly;
}

.devision h3 {
    color: red;
    background-color: green;
    text-align: center;

}

.devision strong {
    color: green;
    background-color: red;
    margin-left: 15px;
}

.devision p {
    margin: 20px;
    color: black;
    text-align: justify;

}

/* devision end */

/* footer style start */
footer {
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
}

footer h1 {
    font-size: 24px;
    padding-top: 50px;
}

footer h3,
h4 {
    font-size: 14px;
}

.icon {
    margin-left: 10px;
    font-size: 30px;

}

.icon a {
    margin-left: 20px;
    color: white;
}