@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* head style start */
header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: red;
    justify-content: space-between;
}

header:hover {
    background-color: green;

}

.head_box {
    display: flex;
    align-items: center;
}

header .head_box img {
    height: 180px;
    width: 200px;
    margin-left: 0px;


}

.head_box a {
    text-decoration: none;

}

.head_box p {
    font-size: 30px;
    color: white;
    margin-left: 20px;
    text-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);

}

.head_box p:hover {
    color: red;
    text-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {

    font-size: 18px;
    color: white;

    padding: 7px 20px;
    border-radius: 7px;

}

nav ul li a:hover {
    background-color: red;
    color: green;

}


/* head style end */
/* -------------
slit style start
-------------  */
#carouselExampleCaptions {
    width: 90%;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}


/* -------------
slit style end
-------------  */

/* footer style start */
footer {
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
}

footer h1 {
    font-size: 24px;
    padding-top: 50px;
}

footer h3,
h4 {
    font-size: 14px;
}

.icon {
    margin-left: 10px;
    font-size: 30px;

}

.icon a {
    margin-left: 20px;
    color: white;
}